.firstDiv {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../image/bg1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.secondDiv {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(../image/bg2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.thirdDiv {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../image/bg3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
